body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// navbar
.collapse{
    ul{
        li{
            a{
                color: rgb(211, 202, 202) !important;
                &:hover{
                    color: white !important;
                    cursor: pointer;
                }
                
            }
            
        }
    }
   
}
// slider
.carousel-item{
    img{
        height: 600px;
    }
}

// about us
.about_section{
    span{
        width: 60px;
        height: 2px;
        background-color: black;
    }
}

// card section

.team_section{
    
        span{
            width: 60px;
            height: 2px;
            background-color: black;
        }
    }

.card{
    margin-bottom: 20px;
    &:hover{
        opacity: .8;
        cursor: pointer;
    }

}

// contact

.contact{
    
    
        span{
            width: 60px;
            height: 2px;
            background-color: black;
        }
    }
.input-group{
    input{
        width: 250px !important;
    }
}

.contact_area{
    li{
        list-style-type: none;
    }
}
